.formulario-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 50px;
    width: 100%;
}
.formulario-container .formulario {
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex: 1;
    padding: 36px 64px;
}
.formulario-container .formulario h2 {
    font-weight: 400;
    font-size: 32px;
}

.alinhar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .formulario-container .formulario {
        display: flex;
        flex-direction: column;
        background: #F7F7F7;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        flex: 1;
        padding: 36px 62px;
    }
    .formulario-container .formulario h2 {
        text-align: center;
        width: 100%;
        font-weight: 400;
        font-size: 32px;
    }
    .formulario-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 0px 50px;
        width: 100%;
    }
}